extends layout

block content
  body
    include sidemenu.pug
    .container-text
      .centered-text-center
        p email: info@delacharles.com
        p
          | instagram:
          a(href="https://www.instagram.com/dela.charles")  @dela.charles
