extends layout

block content
  .side-menu
    include sidemenu.pug

  .card-container
    each item in projectCardFashionData
        include projectcard.pug
    //- else
    //-   p No card data available
