extends layout

block content
  body
    include sidemenu.pug
    .container-projectcard
      .group-0
        each item, index in projectCardFashionData
          if index === 0
            include projectcard.pug
      .group-1
        each item, index in projectCardFashionData
          if index >= 1 && index <= 2
            include projectcard.pug
      .group-2
        each item, index in projectCardFashionData
          if index >= 3 && index <= 4
            include projectcard.pug
