doctype html
html(lang="en")
  head
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@800;900&family=Jost:wght@400;500;600;700;800&display=swap", rel="stylesheet")
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Photography | Graphic Design | Illustration | Art | Skateboarding | Architecture | Lifestyle | Fashion | Music | Dela Charles | Berlin | Germany")
    title Photography | Dela Charles | Germany
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
  block content
    .side-menu
      .home-contact
        p#home-contact Dela Charles
        p
          a(href="./contact") Contact
      .foto-links
        p Fashion
        p Skateboarding
        p Diary
    .slide-show
          img(src="./images/cover_landingpage.jpg", alt="Hello")
          .centered-bottom
            p#announcement Website coming soon!
            p#mail email: info@delacharles.com
            p
              | instagram:
              a(href="https://www.instagram.com/dela.charles")  @dela.charles
          .description-below
            p#announcement-2 Website coming soon!
            .contact
              p#mail-2 email: info@delacharles.com
              p
                | instagram:
                a(href="https://www.instagram.com/dela.charles")  @dela.charles
