extends layout

block content
  include sidemenu.pug
  body
    .slide-show
      #image-container
        img#gif-like-image(src="", alt="GIF-like Image")

    // Embedded JavaScript code
    script(src="/javascripts/landingpage.js")
