.card
  img(src=item.imageUrl, alt="Card Image", class="card-image", onmouseover="hideImage(this)", onmouseout="showImage(this)" onclick=`navigateToDynamicDetailRoute('${item.routeName}')`)
  p.centered-text= item.text

script(src="/javascripts/script.js")
