.side-menu
  .home-contact
        p#home-contact
          a(href="/") Dela Charles
        p
          a(href="/contact") Contact
  .foto-links
        p
          a(href="/fashion") Fashion (coming soon)
        p
          a(href="/skateboarding") Skateboarding
        p#foto-links
          a(href="/diary") Diary (coming soon)
