extends layout

block content
  body
    include sidemenu.pug
    .container-projectcard
      .group-1
        each item, index in projectCardSkateboardingData
          if index >= 0 && index <= 1
            include projectcard.pug
      .group-0
        each item, index in projectCardSkateboardingData
          if index === 2
            include projectcardlinkless.pug
      .group-1
        each item, index in projectCardSkateboardingData
          if index >= 3 && index <= 4
            include projectcard.pug
      .group-1
        each item, index in projectCardSkateboardingData
          if index >= 5 && index <= 6
            include projectcard.pug
      .group-1
        each item, index in projectCardSkateboardingData
          if index === 7
            include projectcard.pug
