extends layout

block content
  body
    include sidemenu.pug
    .container-projectcard
      .group-1
        each item, index in projectCardFashionData
          if index >= 0 && index <= 1
            include projectcardlinkless.pug
      .group-0
        each item, index in projectCardFashionData
          if index === 2
            include projectcardlinkless.pug
      .group-2
        each item, index in projectCardFashionData
          if index >= 3 && index <= 4
            include projectcardlinkless.pug
      .group-2
        each item, index in projectCardFashionData
          if index >= 5 && index <= 6
            include projectcardlinkless.pug
      .group-0
        each item, index in projectCardFashionData
          if index === 7
            include projectcardlinkless.pug
      .group-2
        each item, index in projectCardFashionData
          if index >= 8 && index <= 9
            include projectcardlinkless.pug
      .group-2
        each item, index in projectCardFashionData
          if index >= 10 
            include projectcardlinkless.pug
          

