body {
  font-family: 'Jost', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  padding: 20vh;
  text-align: center;
  width: 500px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div {
  padding: 0.3vh;
}

p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

#image-container {
  position: relative;
}

.image-overlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s;
}

#gif-like-image {
  max-width: 70%;
  height: auto;
  object-fit: contain;
  position: relative;
  transition: transform 0.1s;
}

@media (max-width: 1024px) {
  body {
    padding: 20px;
    /* /* overflow: hidden; */
  }

  .container {
    width: 90%;
    padding: 5%;
    height: auto;
  }

  #gif-like-image {
    max-width: 55%;
  }
}
