body {
  font-family: 'Jost', sans-serif;
  margin: 12vh;
  display: flex;
  height: fit-content;
}

p {
  font-size: 18px;
  font-weight: 600;
  line-height: 3px;
  letter-spacing: -2%;
  align-items: start;
  /* margin: 14px; */
}

a {
  text-decoration: none;
  color:black;
}

.side-menu {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0vh 1vh 0vh 7vh;
  height: 540px;
  position: fixed;
}

#home-contact {
  margin-top: 8px;
}

#foto-links {
 margin-bottom: 8px;
}

.slide-show {
  display: flex;
  position: relative;
  height: 540px;
  margin-left: 28vh;

}

img {
  height: 100%;
  display: block;
}

.centered-bottom {
  position: absolute;
  left: 0;
  bottom: 3vh;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.description-below {
  display: none;
}

#announcement {
  margin-top: 0;
  margin-bottom: 5vh;
}

#mail {
  margin: 0;
  line-height: 2vh;
}

.container-projectcard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 826px;
  margin-left: 28vh;
  height: 100%;
  overflow-y: auto;
  justify-content: center;
}

.group-0 {
  width: 90%; /* Set group-0 to take up the whole width */
  height: 90%;
  margin-bottom: 3vh; /* Adjust margin as needed */
}

.group-1,
.group-2 {
  width: 50%;
  margin-bottom: 3vh; /* Adjust margin as needed */
  display: flex;

  justify-content: space-between;
}

.card {
  flex: 1 0 48%; /* Set the width to occupy 48% of the container */
  margin-bottom: 3vh; /* Adjust margin as needed */
}

/* Additional styles for card appearance */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80%; /* Adjust as needed */
  overflow: hidden;
}

.group-1 .card:nth-child(2n),
.group-2 .card:nth-child(2n) {
  margin-left: 4%; /* Adjust the left margin for even cards in group-1 and group-2 */
}



.card-image {
  width: 100%;
  height: 100%;
  transition: 0.2s;
  display: block;
  object-fit: cover;
}

.centered-text {
    display: none;
}

.card:hover .card-image {
  opacity: 0;
}

.card:hover .centered-text {
  display: block;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width:720px) {
  body {
    flex-direction: column;
  }

  p {
    font-size: 12px;
  }

  a {
    margin: 0;
  }

  .side-menu {
    display: flex;
    flex-direction: row;
    padding-bottom: 2.5%;
    padding-right: 0;
    width: auto;
    flex-wrap: wrap;
    /* flex-shrink: 10; */
  }

  .home-contact {
    display: flex;
    flex-direction: row;
    margin-left: 0;
  }

  #home-contact {
    margin-top: 12px;
    margin-right: 6px;
  }

  .foto-links {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  .slide-show {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: fit-content;
    max-width: fit-content;
  }

  .centered-bottom {
    visibility: hidden;
  }

  .description-below {
    display: flex;
    flex-direction: column;
    visibility: visible;
    padding-top: 2.5%;
  }

  #announcement-2 {
    margin-top:12px;
    margin-bottom: 40px;
    text-align: center;
  }

  .contact {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0;
  }

  #mail-2 {
    margin:0;
    line-height: 12px;
  }
}
