body {
  font-family: 'Jost', sans-serif;
  margin: 0;
  /* height: 100vh; */
  display: flex;
  height: 100vh;
}

.side-menu {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8vh 5px 8vh 5vh;
  height: 540px;
  /* max-height: max-content; */

}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  padding: 13vh 0px 13vh 0px;
}

.slide-show {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}

p {
  font-size: 18px;
  font-weight: 600;
  line-height: 3px;
  letter-spacing: -2%;
  align-items: start;
}

img {
  object-fit: contain;
  width: 100%;
  height: fit-content;
}

a {
  text-decoration: none;
  color:black;
}

#home-contact {
  margin-top: 8px;
}

#foto-links {
  margin-bottom: 8px;
}


.centered-bottom {
  position: absolute;
  bottom: 5%;
  text-align: center;
}

.description-below {
  display: none;
}
#announcement {
  margin-top: 0;
  margin-bottom: 40px;
}

#mail {
  margin-top: 0;
  line-height: 12px;
}

.card-container {
  text-align: center;
}

.card {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.card-image {
  width: 300px;
  height: auto;
  transition: 0.4s;
}

.centered-text {
  display: none;
  padding: 20px;
}

.card:hover .card-image {
  opacity: 0;
}

.card:hover .centered-text {
  display: block;
}

@media screen and (max-width:720px) {
  body {
    flex-direction: column;
  }

  p {
    font-size: 12px;
  }

  a {
    margin: 0;
  }

  .side-menu {
    display: flex;
    flex-direction: row;
    padding-bottom: 2.5%;
    padding-right: 0;
    width: auto;
    flex-wrap: wrap;
    /* flex-shrink: 10; */
  }

  .home-contact {
    display: flex;
    flex-direction: row;
    margin-left: 0;
  }

  #home-contact {
    margin-top: 12px;
    margin-right: 6px;
  }

  .foto-links {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  .slide-show {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: fit-content;
    max-width: fit-content;
  }

  .centered-bottom {
    visibility: hidden;
  }

  .description-below {
    display: flex;
    flex-direction: column;
    visibility: visible;
    padding-top: 2.5%;
  }

  #announcement-2 {
    margin-top:12px;
    margin-bottom: 40px;
    text-align: center;
  }

  .contact {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0;
  }

  #mail-2 {
    margin:0;
    line-height: 12px;
  }
}
