body {
  font-family: 'Jost', sans-serif;
  margin: 12vh;
  display: flex;
  height: fit-content;
}

p {
  font-size: 18px;
  font-weight: 600;
  line-height: 3px;
  letter-spacing: -2%;
  align-items: start;
}

a {
  text-decoration: none;
  color:black;
}

.side-menu {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0vh 1vh 0vh 7vh;
  height: 540px;
  position: fixed;
}

img {
  object-fit: contain;
  width: 100%;
  height: 540px;
}


.container-projectcard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 826px;
  margin-left: 40vh;
  height: 100%;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.group-0 {
  width: 80%; /* Set group-0 to take up the whole width */
  height: 80%;
  margin-bottom: 10vh; /* Adjust margin as needed */
}

.group-1,
.group-2 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
}

.card {
  width: 45%;
  margin-bottom: 0;
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.group-0 .card {
  width: 100%; /* Set the width of cards in group-1 to 100% */
}

.group-1 .card:nth-child(2n) {
  margin-left: 4vh; /* Adjust the left margin for even cards in group-1 */
}

.group-2 .card:nth-child(2n) {
  margin-left: 4vh; /* Adjust the left margin for even cards in group-2 */
}

.group-3 {
  width: 60%;
  height: 10%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items:  center;
}

.group-3 img {
  width: 71%; /* Make the images fill their container */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 30px; /* Additional margin bottom for spacing between images */
}

.group-4 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.group-4 img {
  width: 95%; 
  height: auto; 
  margin-bottom: 20px; 
  margin-left: 30px;
}

.group-4 .irregular,
.group-4 .irregular2 {
  display: flex; /* Set display to flex to arrange items in a row */
  justify-content: center; /* Center items horizontally */
  margin-bottom: 370px;
  margin-left: 20px;
}

.group-4 .irregular .card .img,
.group-4 .irregular2 .card .img {
  margin: 0;
}

.group-4 .irregular .card:first-child img {
  width: 60%; /* Set width for the first image */
  display: flex;
  justify-content: center;
  margin-top: 85px;
  margin-left: 100px;
}

.group-4 .irregular .card:nth-child(2) img {
  width: 90%; 
}

.group-4 .irregular2 .card:first-child img {
  width: 95%; 
  margin-right: 30px;
  display: flex;
  justify-content: center;
}

.group-4 .irregular2 .card-image {
  width: 60%;
}

.group-4 .irregular2 .card {
  /* display: flex;
  justify-content: center; */
  margin-left: 30px;
  height: auto;
  padding-top: 85px;
}


.group-5 {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Ensure the container has a height */
}

.group-5 img {
  width: 130%;
  height: 95%;
  margin-bottom: 20px; 
}

.group-5 .lousy {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  height: 95%; /* Ensure the container has a height */
  padding: 40px;
}

.group-5 .lousy img {
  width: 105%;
  /* height: 95%; */
  /* margin-left: px; */
  margin-bottom: 20px; 
}

.group-5 .irregular {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  height: 90%; /* Ensure the container has a height */
  margin-left: 20px;
}

.group-5 .irregular img {
  width: 95%;
  /* height: 95%; */
  /* margin-left: px; */
  margin-bottom: 400px; 
}

/* .card-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
} */

.centered-text {
  display: none;
  cursor: pointer;
  line-height: 1.5;
}

.card:hover .card-image {
  opacity: 0;
}

.card:hover .centered-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
  width: 826px;
  margin: 0 auto;
  margin-left: 32vh;
}

@media screen and (max-width:720px) {
  body {
    flex-direction: column;
  }

  p {
    font-size: 12px;
  }

  a {
    margin: 0;
  }

  .side-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 89%;
    height: fit-content;
  }

  .home-contact {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    width: 25%;
    justify-content: space-between;
  }

  #home-contact {
    margin-top: 12px;
    margin-right: 6px;
    width: fit-content;
  }

  .foto-links {
    display: flex;
    flex-direction: row;
    /* padding-lefts: 3%; */
    width: 75%;
    justify-content: space-evenly;
  }

  .slide-show {
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-top: 10vh;
    max-height: fit-content;
    /* max-width: fit-content; */
  }

  .centered-bottom {
    visibility: hidden;
  }

  .description-below {
    display: flex;
    flex-direction: column;
    visibility: visible;
    padding-top: 2.5%;
  }

  #announcement-2 {
    margin-top:12px;
    margin-bottom: 40px;
    text-align: center;
  }

  .contact {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0;
  }

  #mail-2 {
    margin:0;
    line-height: 12px;
  }

.container-projectcard {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0;
  margin-top: 10vh;
  height: fit-content;
  /* width: 50%; */
}

.group-0 {
  /* width: 89%; */
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  margin: 0;
}

.container-text {
  margin-top: 10vh;
  max-height: fit-content;
  max-width: fit-content;
  margin-left: 0;

}

}
