extends ../layout

block content
  body.detailed-view
    include ../sidemenu.pug
    .container-projectcard
      .group-1
        each item, index in detailData
          if index >= 0 && index <= 1
            include ../projectcard.pug
      .group-0
        each item, index in detailData
          if index === 2
            include ../projectcard.pug
      .group-1
        each item, index in detailData
          if index >= 3 && index <= 4
            include ../projectcard.pug
      .group-1
        each item, index in detailData
          if index >= 5 && index <= 6
            include ../projectcard.pug
      .group-1
        each item, index in detailData
          if index >= 7 && index <= 8
            include ../projectcard.pug
      .group-0
        each item, index in detailData
          if index === 9
            include ../projectcard.pug
      .group-1
        each item, index in detailData
          if index >= 10 && index <= 11
            include ../projectcard.pug